
#about-one{
    margin-top: 100px;
    width: 1150px;
    max-width: 950px;
    max-width: 100%;
    height: 500px;
    background-color: red;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-one:hover{
    background-color: red;
    opacity: 0.7;
}

#about-one h3 {
    font-size: 80px;
}

#about-two{
    width: 1150px;
    max-width: 950px;
    max-width: 100%;
    height: 500px;
    background-color: yellow;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-two:hover{
    background-color: yellow;
    opacity: 0.7;
}

#about-two h3 {
    font-size: 80px;
}

#about-three{
    width: 1150px;
    max-width: 950px;
    max-width: 100%;
    height: 500px;
    background-color: green;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-three:hover{
    background-color: green;
    opacity: 0.7;
}

#about-three h3 {
    font-size: 80px;
}